:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  
    color: rgba(29, 31, 38 0.8);
    background:  #ac53ff;
    grid-auto-flow: row;
    display: grid;
    margin: 0 auto;
    height: 100%;
    max-width: 640px;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    padding: 6px 32px;
    align-content: space-between;
    
  }
  
  * {
    margin: 0px;
    padding: 0px;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
  .home-container {
    margin-top: 50px;
  }